<app-navbar></app-navbar>

<div class="bizbo-home-background">
    <div class="flex-total-center">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="get-report-card card-box col-lg-12">
                <div class="brand-logo-tag margin-bottom-30">
                  <div class="brand-tagline">
                    <h2>Funding for your project</h2>
                  </div>
                </div>
                <div class="description-content margin-bottom-30">
                  <p style="text-align: left;margin-left: 10%;">1. Personal Savings/ friends & family<br/>
                    2. Personal Savings<br/>
                    3. Crowdfunding <br/>
                    4. Angel Investors <br/>
                    5. Venture Capital<br/>
                    6. Bank Loans<br/>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

