<app-navbar></app-navbar>

<div class="bizbo-home-background">
<section class="home-page">
  <div class="flex-total-center">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="get-report-card card-box col-lg-12">
              <div class="brand-logo-tag margin-bottom-30">
                <div class="brand-tagline">
                  <h2>Testing the market</h2>
                </div>
              </div>
              <div class="description-content margin-bottom-30">
                <p style="text-align: left;margin-left: 10%;">1. Ask the right questions<br/>
                  2. Know your competitors<br/>
                  3. Assess the market<br/>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
</div>

