<app-navbar></app-navbar>

<div class="bizbo-home-background">
<section class="home-page">
  <div class="flex-total-center">
    <div class="container">
      <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="thank-you-card card-box">
                <div class="card-heading-special margin-bottom-30">
                  <h1>Thank You !!</h1>
                </div>
                <div class="description-content margin-bottom-30">
                  <p>A report will be sent within 24 hours to your e-mail!<br><br>
                    In the meantime you can browse the list of service providers and contact them.
                  </p>
                </div>
                <div class="accept-decline-buttons">
                  <div class="row">
                    <div class="accept-button col-lg-7 col-md-7 col-sm-7 col-xs-12">
                      <a routerLink="/service-providers" class="button-normal" >YES, I AM INTERESTED</a>
                    </div>
                    <div class="decline-button col-lg-5 col-md-5 col-sm-5 col-xs-12">
                      <a routerLink="/home"class="button-outline" >NO, THANKS</a>
                    </div>
                  </div>
                </div>
              </div>

          </div>

      </div>
    </div>
  </div>
</section>
</div>