<div class="row">
  <div class="col-md-12 heading">
    <h1>BizBo™ - Business Analysis Report</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr class="colored" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 heading_welcome">
      <h2>Welcome Stack Industries</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 heading_para">
      <p>This is the system generated report for BizBo™ customers calculated based on the inputs you
        provided, current market trends and intelligent predictions about future.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="square-validation">

            <div class="ssb-icon"><img src="./../../assets/images/icons/checked.png">
              <h2 class="ssb-title">100% Complete </h2>
              <p>company validation report</p>
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <div class="square-valuation">

            <div class="ssb-icon"><img src="./../../assets/images/icons/money-bag.png">
              <h2 class="ssb-title">$1 M</h2>
              <p>market valuation</p>
              <!-- <p>Post-money valuation is approximate as per our valuation methods</p> -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="square-revenue">

            <div class="ssb-icon"><img src="./../../assets/images/icons/revenue.png">
              <h2 class="ssb-title">$ 100,000</h2>
              <p>expected revenue</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="square-expenses">

            <div class="ssb-icon"><img src="./../../assets/images/icons/dollar-sign.png">
              <h2 class="ssb-title">$ 70,000</h2>
              <p>expected expenses</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 box chart">
      <h2>Probability Study</h2>
      <canvas id="myPieChart" height="225"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 box">
      <h2>Sales Growth</h2>
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4 box">


      <h2>Comments</h2>


      <ul class="list_comm">
        <li class="list-border"><span>This is a great business idea, but don't try to get funding.</span> </li>
        <li class="list-border"><span>First validate it and go for an MVP</span></li>
        <li class="list-border"><span>Hire a marketing person rather than a developer.</span> </li>
        <li><span>Outsource the project inorder to reduce initial investment.</span> </li>
      </ul>

    </div>


    <div class="col-md-4 middle">
      <img class="placeholder" src="./../../assets/images/icons/placeholder.png">
      <div class="top-left"><img src="./../../assets/images/icons/dollar-symbol.png"></div>
      <div class="top-left-content">$ {{capital}}</div>
      <div class="top-right"><img src="./../../assets/images/icons/location.png"></div>
      <div class="top-right-content">{{businesslocation}} </div>
      
      <div class="container-fluid">
        <div class="row middle-content">

          <div  class= "col-md-6 top-cross">
            <h2>{{businesstype}}</h2>
            <h2><b>Your business</b></h2>
          </div>
          <div class="col-md-6 right-cross">
            <h2>{{businessentity}}</h2>
            <h2><b>Industry</b></h2>

          </div>


          <div class="col-md-6 left-cross">
            <h2>{{lookinginvestors}}</h2>
            <h2><b>Funding?</b></h2>
          </div>
          <div class="col-md-6 bottom-cross">
            <h2>{{experience}}</h2>
            <h2><b>experience in the field</b></h2>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 box">

      <h2>Recommendations</h2>

      <ul class="list_rec">
        <li class="list-border"><span>Speak to potential connections that can be your customers, make a market analysis
            report. </span></li>
        <li class="list-border"><span>Try to draw a minimal prototype of the idea, and pitch to potential connections
            in your network.</span></li>
        <li><span>Don't go for funding until you get some great feedback.</span> </li>

      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 contact">
      <p>Thanks for interacting with BizBo™. We will help to improve your business. For any information/support
        contact:</p>
      <p>support@bizbo.biz</p>
    </div>
  </div>
  <footer>
    <p>Copyright 2018 - BizBo™ | All rights reserved</p>
  </footer>
</div>
