<app-navbar></app-navbar>

<div class="bizbo-service-providers-background">

    <section ng-controller="adminController as adminCtrl" class="service-providers-page">

      <div class="flex-top-center">

        <div class="container">
          <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class=" card-box service-providers-display-card">
                      <h2>Report Generation Requests</h2><br/><br/>
                      <div *ngFor = "let request of requests" class="service-provider-profile-item col-lg-5">
                          {{request._id}}<br>
                          {{request.email}}<br>

                          
                          <a (click)=navigateGenerateReport(request._id) routerLink = "/generate-report" class="link-small">GENERATE REPORT</a>
                      </div>

                </div>
                
              </div>

          </div>
        </div>

      </div>

    </section>

    </div>