<app-navbar></app-navbar>

<div class="bizbo-home-background">

  
      <section ng-controller="mainController" class="home-page">
        <div class="flex-total-center">
          <div class="container">
            <div class="row">
  
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="get-report-card card-box col-lg-12">
                      <div class="brand-logo-tag margin-bottom-30">
                        <div class="logo-main col-lg-12">
                          <img src="src/assets/images/bizbo_main_logo.png" class="img-fluid" alt="Bizbo Logo" width="160">
                        </div>
                        <div class="brand-tagline">
                          <h2>Your StartUp Assistant</h2>
                        </div>
                      </div>
                      <div class="description-content margin-bottom-30">
                        <p>BizBo™ helps entrepreneurs and businesses analyze their startup ideas, build strategies, identify & solve problems with the power of high level intelligent algorithms and big data.
                        </p>
                      </div>
                      <div class="get-report-button">
                        <a routerLink="/report-business-info" class="button-normal">GET STARTED</a>
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
        </div>
      </section>
      </div>
   
