<app-navbar></app-navbar>

<div class="bizbo-home-background">
<section class="home-page">
  <div class="flex-total-center">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="get-report-card card-box col-lg-12">
              <div class="brand-logo-tag margin-bottom-30">
                <div class="brand-tagline">
                  <h2>Validation of business idea</h2>
                </div>
              </div>
              <div class="description-content margin-bottom-30">
                <p>Talk to others about your idea, especially people you trust. <br/> At this stage, what you want is brutally honest feedback. Entrepreneurs have a tendency to get stuck in "idea lock," when they are hellbent that their idea is a winner, regardless of what others say.<br/>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
</div>